@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes frames {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: frames;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes framesA {
    0% {
        opacity: 0%;
        transform: translateY(50px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}


.appear {
    margin-left: -62px;
    animation-name: framesA;
    animation-duration: 4s;
    animation-timing-function: linear;
}